// tabs

#tabs {
	position: relative;
	top: 50px;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;
  font-weight: 300;

    > nav {
    	text-align: center;
    	ul {
    		padding: 0;
		    margin: 0;
		    width: 100%;
		    list-style: none;
		    display: inline-block;
		    // border-bottom: 1px solid #fff;
		    li {
		    	border: 1px solid $bg-gray-nomal;
		    	background: $bg-gray-nomal;
			    border-bottom: none;
			    margin: 0 3px;
			    width: 30.8%;
			    display: block;
			    float: left;
			    position: relative;
			    -webkit-border-radius: 4px 4px 0 0;
				  -moz-border-radius: 4px 4px 0 0;
				  -ms-border-radius: 4px 4px 0 0;
				  border-radius: 4px 4px 0 0;
		    }
		    li.tab-current {
		    	border: 1px solid #FFF;
			    background: #FFF;
			    border-bottom: none;
			    z-index: 100;
			    
			    a {
			    	color: $orange;

			    } 
		    }
    	}
    	a {
    		color: $text-color2;
		    display: block;
		    font-size: 14px;
		    line-height: 2.5;
		    padding: 0 1.25em;
		    white-space: nowrap;
    	}
    }

  .content {
  	background: #fff;
  	// width: 94%;
  	margin: -2px 3px 0 3px;

  	section {
  		display: none;
  		max-width: 960px;
  		margin: 0 auto;

  		li.goo-list {
  			padding: 12px 10px 8px ;
  			border-bottom: 1px solid $bg-gray-nomal;
  			position: relative;
  			// display: flex;

  			&:hover {
  				background: #fff5ef;
  			}

  			.con-left {
  				float: left;
  				width: 76%;
  			}

  			h2 {
  				font-size: 15px;
  				line-height: 1.6em;
  				width: 90%;
  			}

  			span {
  				font-size: 13px;
  				color: $text-color-light;
  			}

  			a {
  				display: inline-block;
  				text-align: center;
  				width: 55px;
  				font-size: 14px;
  				padding: 10px;
  				background: none;
  				-webkit-border-radius: 4px;
				  -moz-border-radius: 4px;
				  -ms-border-radius: 4px;
				  border-radius: 4px;

				  &:hover {
				  	text-decoration: none;
				  }
  			}

  			a.receive-btn {
					color: $orange;
					border: 1px solid $orange;

					&:hover {
						background: $orange;
						color: #fff;
					}
  			}

  			a.got-btn {
  				border: 1px solid $orange;
  				background: $orange;
  				color: #fff;
  				font-size: 18px;
  				cursor: inherit;
  			}

  			a.expire-btn {
  				background: $bg-gray-nomal;
  				color: $text-color2;
  				cursor: inherit;
  				border: 1px solid $bg-gray-nomal;

  			}
  		}
  	}

  	section.content-current {
  		display: block;
  	}
  }
}

.ct-box {
	text-align: center;
	line-height: 25px;
	padding-bottom: 30px;
	height: 80vh;

	h2  {
		font-size: 21px;
		line-height: 1.6em;
		padding-top: 20px;
	}

	.serial-box {
		margin: 15px 5px;

			textarea.serial-text {
			-webkit-border-radius: 4px;
		  -moz-border-radius: 4px;
		  -ms-border-radius: 4px;
		  border-radius: 4px;
		  background: $bg-gray-light;
		  color: $orange;
		  font-size: 30px;
		  padding: 5px 15px;
		  width: 240px;
		  height: 40px;
		  text-align: center;
		}
	}
	button#copy-btn {
		margin: 5px 0 15px;
	  border: 1px solid $orange;
	  background: $orange;
	  color: #FFF;
	  font-size: 22px;
	  font-weight: bold;
	  padding: 8px 10px;
	  @include btnradius;

	  i {
	  	font-size: 20px;
	  	margin-right: 5px;
	  }
	}

	span.result-text {
		font-size: 18px;
		color: $red;
		display: block;
		width: 95%;
		margin: 0 auto 20px;
	}

	p {
		border-top: 1px solid $bg-gray-nomal;
		padding-top: 10px;
		font-size: 13px;
		margin: 10px;
	}

	strong {
		color: $red;
		font-weight: bold;
	}

	a.goto-btn {
		margin-top: 10px;
		display: inline-block;
		border: 1px solid $orange;
		padding: 8px 10px;
		color: $orange;
		@include btnradius;
	}
}

//iframe
.goo-iframe-header {
	background: #ccc;
	color: $text-color;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.6);

	a {
		color: inherit;
	}

	.sb-toggle-left {
		background: #999;
		i {
			font-size: 30px;
			margin: -6px 0 0 3px;
		}
	}
}
.goo-iframe {
	width: 100vw;
	height: 100vh;
	margin-top:50px;
}
