
//main color
$orange: #ff752b;
$orange2: #ff8e44;

//gray color
$bg-gray: #eee;
$bg-gray-light: #f2f2f2;
$bg-gray-nomal: #d9d9d9;

//dark blue color
$bg-dark01: #393f4e;
$bg-dark02: #2d3340;

$red: #c1272d;
$text-color: #333333;
$text-color2: #898989; 
$text-color-light: #7e8491;

