body {
	color:$text-color;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Verdana, "Microsoft JhengHei", \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4;
	background: $bg-gray;
}

button {
	cursor: pointer;
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
    overflow: auto;
	zoom: 1;
  }
}

.clearfix {
	@include clearfix;
}

@mixin btnradius() {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.top-header {
	position: fixed;
	z-index: 999;
	width: 100%;
	background: $orange;
	height: 50px;
	color: #fff;
	margin-bottom: 10px;
	top:0;

	@include clearfix;

	.sb-toggle-left {
		width: 50px;
		height: 50px;
		padding:0;
		background: $orange2;

		i {
			padding: 14px;
			font-size: 22px;

		}
	}

	h1 {
		font-size: 20px;
		line-height: 50px;
		text-align: center;
	}
}
